
body{
	font-size: 1em;
	background: #1DCDD5;     
    background: -webkit-linear-gradient(-120deg, #B092F2, #2ED8B7); 
    background: -o-linear-gradient(-120deg, #B092F2, #2ED8B7); 
    background: -moz-linear-gradient(-120deg, #B092F2, #2ED8B7); 
    background: linear-gradient(-120deg, #B092F2, #2ED8B7); 
	color: #5B29C8;
}

intro{
	text-align: center;
}

#twocolumns{
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 100px; 
    -moz-column-gap: 100px; 
    column-gap: 100px;
    -webkit-column-rule-style: dashed; 
    -moz-column-rule-style: dashed; 
    column-rule-style: dashed;
	-webkit-column-rule-width: 3px; 
    -moz-column-rule-width: 3px; 
    column-rule-width: 3px;
	-webkit-column-rule-color: #03A9B1; 
    -moz-column-rule-color: #03A9B1; 
    column-rule-color: #03A9B1;
}

#threecolumns{
	-webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
    -webkit-column-gap: 100px; 
    -moz-column-gap: 100px; 
    column-gap: 100px;
    -webkit-column-rule-style: dashed; 
    -moz-column-rule-style: dashed; 
    column-rule-style: dashed;
	-webkit-column-rule-width: 3px; 
    -moz-column-rule-width: 3px; 
    column-rule-width: 3px;
	-webkit-column-rule-color: #03A9B1; 
    -moz-column-rule-color: #03A9B1; 
    column-rule-color: #03A9B1;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 150px;
	height: auto;
	background-color: #1DCDD5;
	position: fixed;
	border: 2px;
	border-style: dashed;
	border-color: #7749DA;
	border-radius: 5px;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #5B29C8;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	transition: 1s;
}

nav ul li a:hover{
	background-color: #555;
	color: #fff;
}

.active{
	background-color: #26BFC6;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #1DCDD5;
	text-align: center;
	border: 2px;
	border-style: dashed;
	border-color: #7749DA;
	border-radius: 10px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	text-shadow: 2px 2px 20px #D5C4FA, 1px 1px 15px #B092F2, 2px 2px 15px #7749DA;
	}

h2{
	text-shadow: 1px 1px 2px #7749DA;
}

#mainContent {
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 175px;
	margin-right: 75px;
	padding-left:10px;
	text-transform: none;
}

.centerme{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	padding-bottom: 5%;
	padding-top: 5%;
	max-width:50%;
	max-height: 50%;
	height: auto;
}

@media screen and (max-width:600px){
	nav ul{
		list-style-type: none;
		margin:0;
		padding:0;
		width: 100%;
		background-color: #2ED8B7;
		position: fixed;
		top: 0;
		left: 0;
	}
	nav ul li{
		float: left;
	}
	nav ul li a{
		display: block;
		text-decoration: none;
		color: #2149CB;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 16px;	
	}
	nav ul li a:hover{
		background-color: #555;
		color: #fff;
	}
		#mainContent {
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 5%;
		}
}

