
body{
	font-size: 1em
	color: navy;
	background-color: #2D3A9A
}
h1{
	background-color: #E08C2A;
	text-align: center;
	border: 3px;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
}
#maincontent {
	margin-left: 200px;
	margin-right: 75px;
}

.centerme {
	display: block;
	margin-left: auto;
	margin-right: auto;
}