
body{
	font-size: 1em
	color: navy;
	background-color: #2D3A9A
}
nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 150px;
	background-color: #flflfl;
}
nav ul li a{
	display: block;
	width: 150px;
	
}
h1{
	background-color: #E08C2A;
	text-align: center;
	border: 3px;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
}
#maincontent {
	margin-left: 150px;
	margin-right: 75px;
	padding-left:10px;
	text-transform: none;
}

.centerme {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


